.features {
  display: flex;
}
.features__item {
  width: 270px;
}
.features__item:not(:last-child) {
  margin-right: 30px;
}
.features__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: $secbgc;
  border-radius: 4px;
}
.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $text-color-sec;
}
